@import "../../../assets/styles/abstracts/";

.verify_user{
    position: relative;
    display: flex;
    align-items: center;
    margin: rem(100) 0;
    h1{
        text-align: center;
        padding: rem(50) 0;
    }
    &_image{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
}