@import "../../../../../assets/styles/abstracts/";

.price_list_edit{
    height: 100vh;
    margin: rem(100) 0;
    padding-top: rem(100);
    &_card{
        background-color: $white;
        padding: rem(20);
    }
    &_btn{
        margin-top: rem(20);
        button{
            width: 100%;
        }
    }
}