//common
$body:#f9f9f9;
$pink-light: #F7F8FF;
$pink-dark: #6966FF;
$main:#EF534F;
$green: #30DF8B;
$txt-light : #525466;
$txt-blue : #4361ee;

$black: #000;
$black-secondary: #14161C;
$black-primary: #111111;
$black-light: #242424;
$black-txt: #3B3C43;
$black-txt-primary: #4B4E5B;
$black-txt-light: #999DA6;

$white: #fff;
$white-primary: #C2C4D4;
$white-secondary: #F7F8FF;
$white-dark: #898C91;

$danger: #F07373;
$success: #30DF8B;

$blue-light: #5598E7;
$blue: #1383DB;
$blue-dark: #414554;
$blue-primary: #33435A;
$blue-secondary: #3E424F;
$blue-txt: #6B798E;
$blue-txt-primary: #61677D;
$blue-txt-secondary: #3A485F;
$blue-txt-light: #6F7A94;
$blue-txt-dark: #2E394D;
$label-color: #051B44;


$gray: #7A7A7A;
$gray-dark: #757B82;
$gray-light: #323233;
$gray-primary: #657183;
$gray-secondary: #626262;
$gray-txt: #A8ADB8;
$gray-txt-primary: #8F91A0;
$gray-txt-secondary: #727579;
$gray-txt-light: #979797;
$gray-txt-dark: #4B4E5B;
$gray-bg: #F1F1F1;

$purple-primary: #787A8C;
$purple-dark: #66708A;
$purple-light: #8F95B2;
$purple-secondary: #A0ABD2;
$purple-txt: #4B4964;
$purple-txt-primary: #697186;
$purple: #474A65;

$txt-primary: #252937;
$txt-purple: #626585;
$txt-menu: #355E8C;

$login-text-blue: #007BFF;
$login-txt-gray-dark: #3E4960;
$login-txt-gray-light: #6E7686;
$login-btn-bg: #277FFE;

$btn-bg: #4B7DF3;
$btn-bg-light: #D9DCEA;
$btn-txt: #E3E7ED;
$bg-color: #EEF3FF;
$border-color: #f0f5f9;
$border-gray: #FFFFFF;
$border-btn: #D7D6F2;
$bg-color-btn-cancel: #9A9BA5;
$footer-bg:#001522;

$input-placeholder-color: #EFF3F8;
$line-color: #D1D6ED;

//card
$card-bg-color:#F4F5F9;

//tab
$tab: #805DCA;
$tab-border-bottom: lightgrey;

//button
$button-text-color: #fff;
$primary-button-color: #1383DB;
$info-button-color: #2196f3;
$success-button-color: #1abc9c;
$warning-button-color: #e2a03f;
$danger-button-color: #e7515a;
$dark-button-color: #989CA6;
$button-color: #f1f2f3;
$main-button-text-color: #3b3f5c;
$secondary-button-color: #805dca;
$gray-button-text-color: #4A4A4A;

//inputs
$input-border-color: #bfc9d4;
$input-border-focus-color: #4361ee;
$input-text-color: #3b3f5c;
$input-focus-shadow-color: #c2d5ff;
$input-dark: #51536547;
$searchbar-bg: #F5F7F9;

//pagination
$pagination-color: #ebebeb;

//components
$toast-default-color: #3B3F5C;
$login-border-color: #e0e6ed;
$label-color: #3b3f5c;
$forgot-password-color: #888ea8;
$header-border: #ebedf2;
$file-dark-bg: #E9EEF2;
$file-pdf: #FF5555;
$category-tab-bg: #E8F1F9;
$card-bg: #F4F5F9;

//left-menu
$left-menu-hover: #bfc9d4;
$breadcrumbs-item-active: #3b3f5c;
$breadcrumbs-item: #888ea8;
$validation-error-color: red;
$table-header-bg-color: #E7F7FF;
$gradient-blue: #4361ee;
$gradient-lilac: #805dca;
$shadow-color: #e0e6ed;
$btn-border-color: #d3d3d3;

//alert

$alert-primary: #eaf1ff;
$alert-text-primary: #4361ee;
$alert-warning: #fff9ed;
$alert-text-warning: #e2a03f;
$alert-success: #ddf5f0;
$alert-text-success: #1abc9c;
$alert-info: #e7f7ff;
$alert-text-info: #2196f3;
$alert-dark: #e3e4eb;
$alert-text-dark: #3b3f5c;
$alert-danger: #fff5f5;
$alert-text-danger: #e7515a;

//modal
$modal-color: #888ea8;
$modal-border: #e0e6ed;
$modal-title: #3b3f5c;

//auth panel
$auth-subtitle-text: #888ea8;

//dropdown
$dropdown-text-color-hover: #2196f3;


//loading
$loadingBackdropBgColor: rgba(0, 0, 0, 0.3);

$box-shadow: 0px 0px 9px rgba(14, 85, 140, 0.08);
//tab
$tab:#805DCA;
$tab-border-bottom: lightgrey;

//button
$button-text-color: #fff;
$primary-button-color: #4361ee;
$info-button-color: #2196f3;
$success-button-color: #1abc9c;
$warning-button-color: #e2a03f;
$danger-button-color: #e7515a;
$dark-button-color: #3b3f5c;
$button-color: #f1f2f3;
$main-button-text-color: #3b3f5c;
$secondary-button-color: #805dca;

//inputs
$input-border-color: #bfc9d4;
$input-border-focus-color: #4361ee;
$input-text-color: #3b3f5c;
$input-focus-shadow-color: rgb(194 213 255 / 62%);
$input-dark: #515365;

//pagination
$pagination-color: #bed3e7;

//components
$toast-default-color: #3B3F5C;
$login-border-color: #e0e6ed;
$label-color: #3b3f5c;
$forgot-password-color: #888ea8;
$header-border: #ebedf2;

//left-menu
$left-menu-hover: #bfc9d4;
$breadcrumbs-item-active: #3b3f5c;
$breadcrumbs-item: #888ea8;
$validation-error-color: red;
$table-header-bg-color: #E7F7FF;
$gradient-blue: #4361ee;
$gradient-lilac: #805dca;
$shadow-color: #e0e6ed;
$btn-border-color: #d3d3d3;

//alert

$alert-primary: #eaf1ff;
$alert-text-primary: #4361ee;
$alert-warning: #fff9ed;
$alert-text-warning: #e2a03f;
$alert-success: #ddf5f0;
$alert-text-success: #1abc9c;
$alert-info:#e7f7ff;
$alert-text-info:#2196f3;
$alert-dark:#e3e4eb;
$alert-text-dark:#3b3f5c;
$alert-danger:#fff5f5;
$alert-text-danger:#e7515a;
$gray: #7A7A7A;
$gray-dark: #757B82;
$gray-light: #7B8093;
$gray-primary: #657183;
$gray-deactive:#F9F9F9;
$gray-secondary: #626262;
$gray-txt: #A8ADB8;
$gray-txt-primary: #8F91A0;
$gray-txt-secondary: #727579;
$gray-txt-light: #979797;
$gray-txt-dark: #4B4E5B;
$gray-bg: #F1F1F1;
//modal
$modal-color: #888ea8;
$modal-border:#e0e6ed;
$modal-title: #3b3f5c;

//auth panel
$auth-subtitle-text:#888ea8;

//dropdown
$dropdown-text-color-hover: #2196f3;


//loading
$loadingBackdropBgColor: rgba(0,0,0,0.3);


$box-shadow : 0 0 40px 0 rgb(94 92 154 / 6%);

//table
$table-header: rgba(234, 241, 255, 0.74);
$table-brder: #f0f0f0;